.main-content { 
    height: 100vh;
    margin: 15vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.body { 
    background-color: white;
}

.body button { 
    background-color: #708238;
    border-color: #708238;
}
.body button:hover, .body button:visited { 
    background-color: #708238;
    opacity: 0.5;
}