.main-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




/* --------------COLOURING--------------------- */

.body {
    background-color: white;
}

.body button {
    background-color: #708238;
    border-color: #708238;
}

.body button:hover,
.body button:visited {
    background-color: #708238;
    opacity: 0.5;
}

/* --------Title--------------------------------------- */
.projectsTitle {
    position: absolute;
    top: 0%;
}

h1 {
    color: #708238;
}

/* -------------PLACEHOLDER IMAGES--------------------- */
.placeholderContain {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 50%;
    /* this gives it an absolute poisition of being located 50%(centre) of its parent div, naturally placing it over the image */
}

/* -----------------------RESPONSIVE DESIGN--------------- */
@media only screen and (min-width: 960px) {
    .main-content {
        background: url("../../assets/background.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 90vh;
        margin: 15vh;
    }

    .controlButtons {
        height: 100%;
    }

    .projectImg {
        height: 100%;
    }
}

@media only screen and (max-device-width: 959px) {
    .main-content {
        background: url("../../assets/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        margin: 5vh;
        width: 80vw;
    }

    .controlButtons {
        height: 50%;
    }

    .carousel {
        height: 50%;
        width: 50%;
        position: absolute;
        top: 10%;
    }
}