.navbar { 
    background-color: white!important;
    font-size: 1rem ;
}

.navbar a:visited, .navbar a{ 
    color: black !important;
    border: black !important;
}

.navbar a:hover { 
   opacity: 0.5;
   text-decoration: underline 0.1rem;

} 
.navbar a:hover, .navbar a:focus { 
    text-decoration-color: #708238;
    text-underline-offset: 0.4em;
}

.navsec { 
    display: flex;
    justify-content: flex-end;
} 

.icon { 
    border-radius: 50%;
    width: 50px;
    border: pink solid 2px;

}