.navbar { 
    background-color: #ffe6e9!important;
    font-size: 1.5rem ;
}

.navbar a:visited, .navbar a{ 
    color: white !important;
    border: white !important;
}

.navbar a:hover { 
   opacity: 0.5;

} 

.navsec { 
    display: flex;
    justify-content: flex-end;
} 

.icon { 
    border-radius: 50%;
    width: 50px;
    border: pink solid 2px;

}